#searchButton, #load {
  display: block;
  margin: 0 auto;
  color: black;
  background: gold; }

#search {
  width: 100%;
  height: 100%; }
  #search input {
    font-size: 1.5rem;
    width: 100%;
    background: url("../search-assets/search.png") no-repeat right;
    background-size: 8%;
    background-color: lightgray;
    box-sizing: border-box; }
    @media (min-width: 320px) and (max-width: 700px) {
      #search input {
        font-size: 1rem;
        background-size: .8rem; } }

#searchLabel {
  text-align: center;
  box-sizing: border-box;
  padding: 0.2em;
  background: gold;
  color: black;
  font-family: "Arial Rounded MT Bold", Arial, serif;
  font-size: 0.875rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    #searchLabel {
      font-size: .2rem;
      margin-top: 0; } }

#searchButton {
  font-size: 1rem;
  margin-top: 1rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    #searchButton {
      font-size: 0.7rem; } }

#load {
  margin-bottom: 1rem;
  height: 2rem;
  width: 7rem;
  font-size: large;
  display: none;
  transition: ease-in 0.50s; }

#loader {
  display: none;
  border: 1rem solid #f3f3f3;
  /* Light grey */
  border-top: 1rem solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#results {
  margin: 0 auto;
  width: 90%; }
  #results h3 {
    color: black;
    font-family: "Arial Rounded MT Bold", Arial, serif;
    font-size: 14px;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
    @media (min-width: 320px) and (max-width: 700px) {
      #results h3 {
        font-size: .5rem;
        width: 60%;
        float: left; } }
    @media (min-width: 1160px) and (max-width: 1440px) {
      #results h3 {
        padding-left: 0.5rem;
        padding-right: 0.5rem; } }

.comicItem {
  width: 30%;
  background: gold;
  border: 1px solid black;
  height: 28rem;
  margin: 0 auto;
  margin-bottom: 1rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    .comicItem {
      height: 7rem;
      width: 100%;
      margin: 0.5rem; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    .comicItem {
      height: 28rem;
      margin: 0 auto; } }
  .comicItem button {
    margin-left: .5rem; }

#comicList {
  display: flex;
  align-content: flex-start;
  width: 95%;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 auto; }

#logo {
  background: url("../search-assets/marvel_logo.jpg") no-repeat;
  height: 5rem;
  float: left;
  background-size: 100%;
  width: 10%;
  margin: 1%; }
  @media (min-width: 320px) and (max-width: 700px) {
    #logo {
      width: 20%; } }

@media (min-width: 320px) and (max-width: 700px) {
  #toggle:checked + #links {
    display: block; } }

body {
  background-color: #e23636;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%; }

header {
  background: url("../search-assets/header.png") no-repeat;
  background-size: 100%;
  overflow: auto;
  transition: linear 1s 1s;
  height: 20rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    header {
      height: 14rem; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    header {
      height: 14rem; } }

img {
  height: 20rem;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 700px) {
    img {
      height: 7rem;
      width: 30%;
      float: left; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    img {
      height: 15rem; } }

footer {
  background: black;
  color: gold;
  text-align: center;
  padding: 0;
  margin: 0; }
  footer p {
    display: inline-block; }

a {
  text-decoration: none;
  color: gold; }

div {
  clear: both;
  margin: 0 auto;
  width: 25%; }
  @media (min-width: 320px) and (max-width: 700px) {
    div {
      width: 45%; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    div {
      width: 35%; } }
  div p {
    margin: 0; }

nav {
  overflow: auto; }
  nav input {
    display: none; }
  nav label {
    display: none; }
    @media (min-width: 320px) and (max-width: 700px) {
      nav label {
        float: right;
        display: block;
        margin: 0 5% 0 0; } }
  nav ul {
    display: flex;
    align-content: flex-end;
    width: 20%;
    padding: 0.5rem;
    list-style: none;
    margin-right: 1rem;
    font-family: "Arial Rounded MT Bold", Arial, serif;
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    float: right; }
    @media (min-width: 320px) and (max-width: 700px) {
      nav ul {
        display: none;
        font-size: 0.7rem;
        width: 30%; } }
    @media (min-width: 701px) and (max-width: 1159px) {
      nav ul {
        font-size: 0.8rem;
        width: 30%; } }
    nav ul a {
      text-decoration: none; }
