
#search {
  width: 100%;
  height: 100%;
  input {
    font-size: 1.5rem;
    width: 100%;
    background: url("../search-assets/search.png") no-repeat right;
    background-size: 8%;
    background-color: lightgray;
    box-sizing: border-box;
    @include nav(mobile){
      font-size: 1rem;
      background-size: .8rem
    }
  }
}

#searchLabel {
  text-align: center;
  box-sizing: border-box;
  padding: 0.2em;
  background: gold;
  color: $font-color;
  font-family: $font;
  font-size: 0.875rem;
  @include nav(mobile){
    font-size: .2rem;
    margin-top: 0;
  }
}

#searchButton {
  @extend %button;
  font-size: 1rem;
  margin-top: 1rem;

  @include nav(mobile){
    font-size: 0.7rem;
  }

}

#load {
  @extend %button;
  margin-bottom: 1rem;
  height: 2rem;
  width: 7rem;
  font-size: large;
  display: none;
  transition: ease-in 0.50s;

}

#loader {
  display: none;
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}